<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d5ac3fc8-9a79-4d22-bcb9-a7cb6716ba72/resourcegroups/bttx_group/providers/Microsoft.Web/sites/RoadTrafficManagement20240712144036</ResourceId>
    <ResourceGroup>bttx_group</ResourceGroup>
    <ApiResourceId>/subscriptions/d5ac3fc8-9a79-4d22-bcb9-a7cb6716ba72/resourceGroups/bttx_group/providers/Microsoft.ApiManagement/service/RoadTrafficManagementapi/apis/RoadTrafficManagement</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://roadtrafficmanagement20240712144036.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>126f29df-e682-4a89-99eb-eed12e475af2</ProjectGuid>
    <MSDeployServiceURL>roadtrafficmanagement20240712144036.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RoadTrafficManagement20240712144036</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$RoadTrafficManagement20240712144036</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>